<div class="relative py-3 z-40 bg-stone-50 dark:bg-stone-900 border-t border-stone-200 dark:border-stone-700">
    <p class="text-sm text-center text-stone-500 dark:text-stone-400">© 2025 <a href="/" class="hover:underline">Finaro</a>. Made with ❤️</p>
</div>