@use "tailwindcss";
@use "./components/main.scss";

@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-night: #191932;
    --color-calm: #365A64;
    --color-fresh: #72C6A9;
    --color-serene: #95D5C1;
    --color-dream: #D2BAD2;

    --color-dark: #141415;
    --color-violet-lightest: rgba(191,0,255,0.14);

    --font-lato: "Lato", sans-serif;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--font-lato);
}

main {
    flex-grow: 1;
}

.no-scroll {
    overflow-y: hidden;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}