<label class="relative inline-flex items-center cursor-pointer">
  <input id="switch-mode" type="checkbox" value="" class="sr-only peer" data-controller="theme" data-action="theme#toggle" />

  <span class="w-14 h-7 rounded-full border border-stone-300 dark:border-stone-400 transition-colors bg-stone-200 dark:bg-stone-500 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-stone-100 dark:peer-focus:ring-stone-400/20 peer-checked:bg-stone-200 dark:peer-checked:bg-stone-600"></span>

  <svg class="absolute rounded-full left-0.5 top-0.5 w-6 h-6 p-1 text-stone-400 dark:text-stone-600 bg-stone-50 dark:bg-stone-400 transition-transform duration-300 peer-checked:translate-x-7 peer-checked:opacity-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v1.5M12 19.5V21M4.219 4.219l1.06 1.06M18.719 18.719l1.06 1.06M3 12h1.5M19.5 12H21M4.219 19.781l1.06-1.06M18.719 5.281l1.06-1.06M12 7.5A4.5 4.5 0 117.5 12 4.5 4.5 0 0112 7.5z" />
  </svg>

  <svg class="absolute rounded-full left-0.5 top-0.5 w-6 h-6 p-1 text-stone-400 dark:text-stone-600 bg-stone-50 dark:bg-stone-400 transition-transform duration-300 opacity-0 peer-checked:translate-x-7 peer-checked:opacity-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 512 512" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216c88.68 0 166.73-51.57 200-128c-26.39 11.49-57.38 16-88 16c-119.29 0-216-96.71-216-216"/>
  </svg>
</label>