{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="text-2xl text-stone-900 dark:text-stone-50">Homepage</h1>
    </div>
{% endblock %}