{% extends 'base.html.twig' %}

{% block title %}Simulateur d'intérets composées{% endblock %}

{% block body %}
    <div {{ vue_component('view/app/simulator/CompoundInterestPage', {
        'url': {
            'compoundInterest': path('app_simulator_compound_interest')
        },
        'api': {
            'calculateCompoundInterest': path('api_simulator_compound_interest')
        }
    }) }}></div>
{% endblock %}