{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div {{ vue_component('view/HomePage', {
        'api-token': app.session.get('token') ?? null,
        'url': {
            'homepage': path('app_homepage'),
            'dashboard': path('app_dashboard')
        },
    }) }}></div>
{% endblock %}